body{
    background-color:lightcoral;
    margin:10px;
    padding:10px;
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:larger;
    font-style:inherit;
}
a:visited{
    color:antiquewhite;
}
a:hover{
    font-size:1.5em;
}